<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form action="/signup" method="post"></form>
    <p>
      id : <input type="text" placeholder="Please input your ID." name="ID">
    </p>
    <p>
      password : <input type="password" placeholder="Please input your password." name="password">
    </p>
    <p>

      <input type="submit" id="submit_button"></input>
    </p>
  </body>
</html>
